<!DOCTYPE html>
<html>
	<body>
		
		<table border="1" cellspacing="2">
			<tr>
				<td>id</td>
				<td>name</td>
				<td>dob</td>
				<td>department</td>
				<td>approved</td>
			</tr>
			<tr th:each="student :${listStudent}">
				<td th:text="${student.id}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.dob}"></td>
				<td th:text="${student.department}"></td>
				<td th:text="${student.approved}"></td>
				<td><a th:href="@{'/student/approved/' + ${student.id}}">approved</a></td>
				<td><a th:href="@{'/student/deletePage/' + ${student.id}}">delete</a></td>
			</tr>
		</table>
	</body>
</html>