<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>Student Maintance</title>
	</head>
	<body>
		<h1>Add Student</h1>
		
		<form method="POST" th:action="@{'/student/addStudentConfirm'}" th:object="${studentRaw}">
		
			<span>Id: </span><input type="text" th:field="*{id}" /> <br/>
			<span th:text="${messageErrorId}"></span> <br/>
			<span>Name: </span><input type="text" th:field="*{name}" /> <br/>
			<span th:text="${messageErrorName}"></span> <br/>
			<span>Dob: </span><input type="text" th:field="*{dob}" /> <br/>
			<span th:text="${messageErrorDob}"></span> <br/>
			<select th:field="*{department}" />
			    <option th:selected="${#session.getAttribute('departmentSession')=='cntt'}" th:value="'cntt'" th:text="cntt"></option >
			    <option th:selected="${#session.getAttribute('departmentSession')=='y'}" th:value="'y'" th:text="y"></option>
			</select>
			<br/>
			<input type="hidden" th:field="*{approved}" /> 
			
			<input type="submit" value="add" />
			<input type="reset">
		</form>
		
		
		<a href="../../../">view students</a>
	</body>
</html>